@{
    ViewData["Title"] = "Index";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="text-info">@TempData["Message"]</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
